<h4>HTML 101</h4>
<h6>CSE 001</h6>
    <p>
     Hypertext Markup Language is the standard markup language for documents designed to be displayed in a web browser.
      It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.
    </p>
	<a class="button" href="#">View Class</a>
	</div>
	
	<div class="col_4">
    
	<h4>Intro To PHP</h4>
    <h6>CSE 002</h6>
	     <p>
     Hypertext Markup Language is the standard markup language for documents designed to be displayed in a web browser.
      It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.
    </p>
    <a class="button" href="#">View Class</a>
	</div>
	
	<div class="col_4">
	<h4>Learn Node.js</h4>
    <h6>CSE 003</h6>
        <p>
     Hypertext Markup Language is the standard markup language for documents designed to be displayed in a web browser.
      It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.
    </p>
    <a class="button" href="#">View Class</a>
	</div>