
	<h3>Welcome To Elearn</h3>
	
	<p>
		This is an e-learning platform under developement. This includes features such as live video conferencing and course 
		management for both Teachers and students. This is a developement model, developed using Nodejs. Codes are written 
		in javaScript. 
	    Adding more features.</br></br>

		developed by <strong> Nishant Kumar </strong>
	</p>